<div class="row fixed-top">
    <div class="col-lg-12">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="fa-solid fa-triangle-exclamation text-danger fs-1 me-5"></i>
            <div>
                {{ message }}
            </div>
        </div>
    </div>
</div>