<!doctype html>
<html lang="es">
	<head>
		<base href=""/>
		<title>Plataforma Finanzas</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link
		rel="shortcut icon" href="{{ APP.API_APP_URL }}/assets/media/images/proideasicon.ico"/>
		<!--begin::Fonts(mandatory for all pages)-->
		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>
		<!--end::Fonts-->
		<link
		href="/assets/web/css/bundle.min.css" rel="stylesheet" type="text/css"/>
		<!-- Bootstrap Font Icon CSS -->
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
		<!--end::Global Stylesheets Bundle-->
		<link href="/assets/web/css/landing.min.css" rel="stylesheet" type="text/css"/>
		<style>
			body {
				/*background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );*/
				/*background-image:linear-gradient( 95.2deg, rgba(217,252,234,1) 35.8%, rgba(194,229,246,1) 90% );*/
			}
		</style>
		<script>
			window.AppFinanceWeb = {
api: '{{ APP.API_URL_FINANCE }}',
margarita: '{{ APP.API_URL_MARGARITA }}'
};
		</script>
		{% block styles %}{% endblock %}
	</head>
	<body
		id="kt_body" data-bs-spy="scroll" data-bs-target="#kt_landing_menu" class="bg-white position-relative app-blank">
		<!--begin::Theme mode setup on page load-->
		<script>
			var defaultThemeMode = "light";
var themeMode;
if (document.documentElement) {
if (document.documentElement.hasAttribute("data-theme-mode")) {
themeMode = document.documentElement.getAttribute("data-theme-mode");
} else {
if (localStorage.getItem("data-theme") !== null) {
themeMode = localStorage.getItem("data-theme");
} else {
themeMode = defaultThemeMode;
}
}
if (themeMode === "system") {
themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
}
document.documentElement.setAttribute("data-theme", themeMode);
}
		</script>
		<!--end::Theme mode setup on page load-->

		<!--begin::Root-->
		<div class="d-flex flex-column flex-root" id="kt_app_root">
			{% include "web/landing/layouts/partials/header.twig" %}
			{% block content %}{% endblock %}
			{% include "web/landing/layouts/partials/footer.twig" %}
		</div>
		<!--end::Root-->

		<!--begin::Engage drawers-->
		{% block drawers %}{% endblock %}
		<!--end::Engage drawers-->

		<!--begin::Engage modals-->
		{% block modals %}{% endblock %}
		<!--end::Engage modals-->

		<!--begin::Scrolltop-->
		<div
			id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
			<span class="svg-icon">
				<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor"/>
					<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor"/>
				</svg>
			</span>
			<!--end::Svg Icon-->
		</div>
		<!--end::Scrolltop-->
		<script>
			var hostUrl = "assets/";
		</script>
		<script src="/assets/web/js/bundle.min.js"></script>

		<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
		<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
		<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
		<script src="https://cdn.amcharts.com/lib/4/plugins/regression.js"></script>

		<script src="/assets/web/js/landing.js"></script>
		<script src="/assets/web/js/events.js"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
