{% extends "admin/layouts/main.twig" %}

{% block style %}

{% endblock %}

{% block content %}
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">GESTIÓN DE PLANTILLAS MAESTRAS</h1>
                <!--end::Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="/admin" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">Plantillas</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center gap-2 gap-lg-3">
                <!--begin::Primary button-->
                <!--end::Primary button-->
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="AppAdminTemplate" class="app-container container-fluid">
            <div class="row gx-5 gx-xl-10">
                <!--begin::Col-->
                <div class="col-sm-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 mb-5">
                                    <h4 class="d-inline">LISTADO DE PLANTILLAS</h4> 
                                    <button type="button" class="btn btn-primary float-end" @click="onForm(-1)"><i class="fa fa-plus mr-2" aria-hidden="true"></i> Nuevo</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <div class="table-responsive">
                                        <table class="table hover gy-5 gs-7" width="100%">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>ID</th>
                                                    <th>Nombre</th>
                                                    <th>Fecha de Actualización</th>
                                                    <th>Predeterminado</th>
                                                    <th>Versión</th>
                                                    <th>Archivo</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <template v-if="templates.length > 0">
                                                    <tr v-for="item, index in templates" :key="item.id"  class="text-center">
                                                        <td v-text="item.id"></td>
                                                        <td v-text="item.name"></td>
                                                        <td v-text="item.created_at"></td>
                                                        <td>
                                                            <template v-if="item.status === 1">
                                                                <span class="badge badge-secondary bge">Sí</span>
                                                            </template>
                                                            <template v-else>
                                                                <span class="badge badge-light bge">No</span>
                                                            </template>
                                                        </td>
                                                        <td v-text="'v'+item.version"></td>
                                                        <td>
                                                            <a :href="item.file ? item.file : '#' " class="text-dark" download><i class="fa fa-download mr-2" aria-hidden="true" download></i> Descargar</a>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-outline-secondary btn-sm mr-2" @click="onForm(index)">
                                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-outline-secondary btn-sm" @click="onDelete(index)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </template>
                                                <template v-else>
                                                    <tr><td colspan="6">No hay registros para mostrar</td></tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="mdlForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">PLANTILLA MAESTRA</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="frmSave" @submit="onSave">
                                                <input type="hidden" class="form-control" name="id" :value="template.id">
                                                <div class="mb-5">
                                                    <label>Nombre</label>
                                                    <input type="text" class="form-control" name="name" :value="template.name" required>
                                                </div>
                                                <div class="mb-5">
                                                    <label>Archivo</label>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFileLang" name="file" @change="onReadFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                                    </div>
                                                    <label class="custom-file-label" for="customFileLang" id="lblFile" style="overflow:hidden;">Seleccionar Archivo</label>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-lg-4">
                                                        <label>versión</label>
                                                        <select class="form-control form-select" name="version" :value="template.version ? template.version : 1" required>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="mb-5">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" name="status" value="1" id="exampleCheck1" v-model="status">
                                                        <label class="form-check-label" for="exampleCheck1">Predeterminado</label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary" form="frmSave">Procesar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="modalTemplateMaster" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalTitleId">
                                                PROCESAR DATOS
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-response">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button type="button" class="btn btn-primary" @click="onSaveProcess">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Content-->
</div>

{% endblock %}

{% block script %}
    <script src="/assets/admin/js/templatemaster.js?v=0.0.5"></script>
{% endblock %}