<!--begin::Team Section-->
<div class="bs-landing-section bs-section-3" id="contactanos">
    <!--begin::Container-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow-none">
                    <div class="card-body">
                        <h3 class="fw-bold fs-2x fs-lg-3x mb-5">Contacta con nosotros</h3>
                        <p class="text-mute fs-1x fs-lg-2x mb-7">¡Estamos aquí para ayudarte!</p>                
                        <form class="formContact">
                            <div class="col-lg-12 mb-7">
                                <label class="col-form-label">Nombre y Apellido</label>
                                <input type="text" class="form-control" name="name" placeholder="Aquí va tu nombre" required>
                            </div>
                            <div class="col-lg-12 mb-7">
                                <label class="col-form-label">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="you@company.com" required>
                            </div>
                            <div class="col-lg-12 mb-7">
                                <label class="col-form-label">Mensaje</label>
                                <textarea class="form-control" name="description" rows="5"></textarea>
                            </div>
                            <div class="col-lg-12 my-9">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="" value="1" required>
                                    <label class="form-check-label" for="">Aceptas nuestros <a href="/terminos-condiciones" target="_blank">Términos y condiciones</a></label>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-7 d-grid">
                                <button type="submit" class="btn btn-block btn-primary">Enviar mensaje</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/assets/media/images/web-contact.png" width="100%">
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Team Section-->