<!--begin::Help drawer-->
<div id="kt_help" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="help" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'350px', 'md': '525px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_help_toggle" data-kt-drawer-close="#kt_help_close">
    <!--begin::Card-->
    <div class="card shadow-none rounded-0 w-100">
        <!--begin::Header-->
        <div class="card-header" id="kt_help_header">
            <h5 class="card-title fw-semibold text-gray-600">Glorario</h5>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon explore-btn-dismiss me-n5" id="kt_help_close">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </button>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body" id="kt_help_body">
            <!--begin::Content-->
            <div id="kt_help_scroll" class="hover-scroll-overlay-y" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_help_body" data-kt-scroll-dependencies="#kt_help_header" data-kt-scroll-offset="5px">
            
				
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <p style="margin-top: 0pt; margin-bottom: 7.5pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <span style="font-size:16.0pt;
                                                                                font-family:Calibri;mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;
                                                                                mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:
                                                                                minor-fareast;mso-bidi-theme-font:minor-bidi;color:black;mso-color-index:1;
                                                                                mso-font-kerning:12.0pt;language:es-MX;font-weight:bold;mso-style-textfill-type:
                                                                                solid;mso-style-textfill-fill-themecolor:text1;mso-style-textfill-fill-color:
                                                                                black;mso-style-textfill-fill-alpha:100.0%">Conceptos importantes</span>
                                    </p>
                                    <div style="language:es-PE;margin-top:0pt;margin-bottom:7.5pt;margin-left:0in;
                                                                                text-align:justify;text-justify:inter-ideograph;direction:ltr;unicode-bidi:
                                                                                embed;mso-line-break-override:none;word-break:normal;punctuation-wrap:hanging">
                                        <span style="font-size:8.0pt">
                                            <span style="mso-special-format:bullet;font-family:
                                                                                    Arial">•</span>
                                        </span>
                                        <span style="font-size: 8pt; font-family: Calibri; font-weight: bold;">Tasa
                                                                                libre de riesgo:</span>
                                        <span style="font-size: 8pt; font-family: Calibri;">&nbsp;La
                                                                                data para la selección y cálculo de la tasa libre de riesgo corresponde a
                                                                                información diaria de los rendimientos spot de la curva de rendimiento de los
                                                                                instrumentos de deuda como T-Bonds y T-</span>
                                        <span style="font-size: 8pt; font-family: Calibri;">Bills</span>
                                        <span style="font-size: 8pt; font-family: Calibri;">
                                            proporcionada por el US
                                        </span>
                                        <span style="font-size: 8pt; font-family: Calibri;">Treasury</span>
                                        <span style="font-size: 8pt; font-family: Calibri;">.&nbsp;</span>
                                    </div>
                                    <div style="language:es-PE;margin-top:0pt;margin-bottom:7.5pt;margin-left:0in;
                                                                                text-align:justify;text-justify:inter-ideograph;direction:ltr;unicode-bidi:
                                                                                embed;mso-line-break-override:none;word-break:normal;punctuation-wrap:hanging">
                                        <span style="font-size:8.0pt">
                                            <span style="mso-special-format:bullet;font-family:
                                                                                    Arial">•</span>
                                        </span>
                                        <span style="font-size:8.0pt;font-family:Calibri;
                                                                                mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;mso-bidi-font-family:
                                                                                +mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;
                                                                                mso-bidi-theme-font:minor-bidi;color:#424242;mso-font-kerning:12.0pt;
                                                                                language:es-MX;font-weight:bold;mso-style-textfill-type:solid;mso-style-textfill-fill-color:
                                                                                #424242;mso-style-textfill-fill-alpha:100.0%">Betas:&nbsp;</span>
                                        <span style="font-size:8.0pt;font-family:Calibri;mso-ascii-font-family:Calibri;
                                                                                mso-fareast-font-family:+mn-ea;mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:
                                                                                minor-latin;mso-fareast-theme-font:minor-fareast;mso-bidi-theme-font:minor-bidi;
                                                                                color:#424242;mso-font-kerning:12.0pt;language:es-MX;mso-style-textfill-type:
                                                                                solid;mso-style-textfill-fill-color:#424242;mso-style-textfill-fill-alpha:100.0%">Los
                                                                                betas empleados en la plataforma han sido obtenidos de la información publicada
                                                                                en la página web de Damodaran con fecha de actualización de 05 de enero del
                                                                                2021.</span>
                                    </div>
                                    <div style="language:es-PE;margin-top:0pt;margin-bottom:7.5pt;margin-left:0in;
                                                                                text-align:justify;text-justify:inter-ideograph;direction:ltr;unicode-bidi:
                                                                                embed;mso-line-break-override:none;word-break:normal;punctuation-wrap:hanging">
                                        <span style="font-size:8.0pt">
                                            <span style="mso-special-format:bullet;font-family:
                                                                                    Arial">•</span>
                                        </span>
                                        <span style="font-size:8.0pt;font-family:Calibri;
                                                                                mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;mso-bidi-font-family:
                                                                                +mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;
                                                                                mso-bidi-theme-font:minor-bidi;color:#424242;mso-font-kerning:12.0pt;
                                                                                language:es-MX;font-weight:bold;mso-style-textfill-type:solid;mso-style-textfill-fill-color:
                                                                                #424242;mso-style-textfill-fill-alpha:100.0%">Prima de mercado (</span>
                                        <span style="font-size:8.0pt;font-family:Calibri;mso-ascii-font-family:Calibri;
                                                                                mso-fareast-font-family:+mn-ea;mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:
                                                                                minor-latin;mso-fareast-theme-font:minor-fareast;mso-bidi-theme-font:minor-bidi;
                                                                                color:#424242;mso-font-kerning:12.0pt;language:es-MX;font-weight:bold;
                                                                                mso-style-textfill-type:solid;mso-style-textfill-fill-color:#424242;mso-style-textfill-fill-alpha:
                                                                                100.0%">Rm</span>
                                        <span style="font-size:8.0pt;font-family:Calibri;mso-ascii-font-family:
                                                                                Calibri;mso-fareast-font-family:+mn-ea;mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:
                                                                                minor-latin;mso-fareast-theme-font:minor-fareast;mso-bidi-theme-font:minor-bidi;
                                                                                color:#424242;mso-font-kerning:12.0pt;language:es-MX;font-weight:bold;
                                                                                mso-style-textfill-type:solid;mso-style-textfill-fill-color:#424242;mso-style-textfill-fill-alpha:
                                                                                100.0%">-Rf):&nbsp;</span>
                                        <span style="font-size:8.0pt;font-family:Calibri;
                                                                                mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;mso-bidi-font-family:
                                                                                +mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;
                                                                                mso-bidi-theme-font:minor-bidi;color:#424242;mso-font-kerning:12.0pt;
                                                                                language:es-MX;mso-style-textfill-type:solid;mso-style-textfill-fill-color:
                                                                                #424242;mso-style-textfill-fill-alpha:100.0%">El rendimiento del mercado
                                                                                corresponde al rendimiento anual del S&amp;P. Así mismo, el rendimiento libre
                                                                                de riesgo es resultado del promedio desde 1972 hasta la actualidad del
                                                                                rendimiento anual de los instrumentos libre de riesgo. Ambos datos son obtenidos
                                                                                de la página Web de
                                        </span>
                                        <span style="font-size:8.0pt;font-family:Calibri;
                                                                                mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;mso-bidi-font-family:
                                                                                +mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;
                                                                                mso-bidi-theme-font:minor-bidi;color:#424242;mso-font-kerning:12.0pt;
                                                                                language:es-MX;mso-style-textfill-type:solid;mso-style-textfill-fill-color:
                                                                                #424242;mso-style-textfill-fill-alpha:100.0%">Damadaran</span>
                                        <span style="font-size:8.0pt;font-family:Calibri;mso-ascii-font-family:Calibri;
                                                                                mso-fareast-font-family:+mn-ea;mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:
                                                                                minor-latin;mso-fareast-theme-font:minor-fareast;mso-bidi-theme-font:minor-bidi;
                                                                                color:#424242;mso-font-kerning:12.0pt;language:es-MX;mso-style-textfill-type:
                                                                                solid;mso-style-textfill-fill-color:#424242;mso-style-textfill-fill-alpha:100.0%">,
                                                                                actualizados hasta diciembre del 2020.</span>
                                    </div>
                                    <div style="language:es-PE;margin-top:0pt;margin-bottom:7.5pt;margin-left:0in;
                                                                                text-align:justify;text-justify:inter-ideograph;direction:ltr;unicode-bidi:
                                                                                embed;mso-line-break-override:none;word-break:normal;punctuation-wrap:hanging">
                                        <span style="font-size:8.0pt">
                                            <span style="mso-special-format:bullet;font-family:
                                                                                    Arial">•</span>
                                        </span>
                                        <span style="font-size:8.0pt;font-family:Calibri;
                                                                                mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;mso-bidi-font-family:
                                                                                +mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;
                                                                                mso-bidi-theme-font:minor-bidi;color:#424242;mso-font-kerning:12.0pt;
                                                                                language:es-MX;font-weight:bold;mso-style-textfill-type:solid;mso-style-textfill-fill-color:
                                                                                #424242;mso-style-textfill-fill-alpha:100.0%">Spread de la deuda:&nbsp;</span>
                                        <span style="font-size:8.0pt;font-family:Calibri;mso-ascii-font-family:Calibri;
                                                                                mso-fareast-font-family:+mn-ea;mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:
                                                                                minor-latin;mso-fareast-theme-font:minor-fareast;mso-bidi-theme-font:minor-bidi;
                                                                                color:#424242;mso-font-kerning:12.0pt;language:es-MX;mso-style-textfill-type:
                                                                                solid;mso-style-textfill-fill-color:#424242;mso-style-textfill-fill-alpha:100.0%">El
                                                                                spread crediticio es asignado en relación a la desviación estándar de la acción
                                                                                a partir de una tabla propuesta por
                                        </span>
                                        <span style="font-size:8.0pt;
                                                                                font-family:Calibri;mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;
                                                                                mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:
                                                                                minor-fareast;mso-bidi-theme-font:minor-bidi;color:#424242;mso-font-kerning:
                                                                                12.0pt;language:es-MX;mso-style-textfill-type:solid;mso-style-textfill-fill-color:
                                                                                #424242;mso-style-textfill-fill-alpha:100.0%">Damodaram</span>
                                        <span style="font-size:8.0pt;font-family:Calibri;mso-ascii-font-family:Calibri;
                                                                                mso-fareast-font-family:+mn-ea;mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:
                                                                                minor-latin;mso-fareast-theme-font:minor-fareast;mso-bidi-theme-font:minor-bidi;
                                                                                color:#424242;mso-font-kerning:12.0pt;language:es-MX;mso-style-textfill-type:
                                                                                solid;mso-style-textfill-fill-color:#424242;mso-style-textfill-fill-alpha:100.0%">,
                                                                                actualizado al 05 de enero del 2021.&nbsp;</span>
                                    </div>
                                    <div style="language:es-PE;margin-top:0pt;margin-bottom:7.5pt;margin-left:0in;
                                                                                text-align:justify;text-justify:inter-ideograph;direction:ltr;unicode-bidi:
                                                                                embed;mso-line-break-override:none;word-break:normal;punctuation-wrap:hanging">
                                        <span style="font-size:8.0pt">
                                            <span style="mso-special-format:bullet;font-family:
                                                                                    Arial">•</span>
                                        </span>
                                        <span style="font-size:8.0pt;font-family:Calibri;
                                                                                mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;mso-bidi-font-family:
                                                                                +mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;
                                                                                mso-bidi-theme-font:minor-bidi;color:#424242;mso-font-kerning:12.0pt;
                                                                                language:es-MX;font-weight:bold;mso-style-textfill-type:solid;mso-style-textfill-fill-color:
                                                                                #424242;mso-style-textfill-fill-alpha:100.0%">Relación D/C:&nbsp;</span>
                                        <span style="font-size:8.0pt;font-family:Calibri;mso-ascii-font-family:Calibri;
                                                                                mso-fareast-font-family:+mn-ea;mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:
                                                                                minor-latin;mso-fareast-theme-font:minor-fareast;mso-bidi-theme-font:minor-bidi;
                                                                                color:#424242;mso-font-kerning:12.0pt;language:es-MX;mso-style-textfill-type:
                                                                                solid;mso-style-textfill-fill-color:#424242;mso-style-textfill-fill-alpha:100.0%">Los
                                                                                porcentajes de deuda y capital correspondientes al análisis en el mercado
                                                                                desarrollado son obtenidos de la página web de Damodaran, actualizado al 05 de
                                                                                enero del 2021.</span>
                                    </div>
                                    <div style="language:es-PE;margin-top:0pt;margin-bottom:7.5pt;margin-left:0in;
                                                                                text-align:justify;text-justify:inter-ideograph;direction:ltr;unicode-bidi:
                                                                                embed;mso-line-break-override:none;word-break:normal;punctuation-wrap:hanging">
                                        <span style="font-size:8.0pt">
                                            <span style="mso-special-format:bullet;font-family:
                                                                                    Arial">•</span>
                                        </span>
                                        <span style="font-size:8.0pt;font-family:Calibri;
                                                                                mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;mso-bidi-font-family:
                                                                                +mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;
                                                                                mso-bidi-theme-font:minor-bidi;color:#424242;mso-font-kerning:12.0pt;
                                                                                language:es-MX;font-weight:bold;mso-style-textfill-type:solid;mso-style-textfill-fill-color:
                                                                                #424242;mso-style-textfill-fill-alpha:100.0%">Tasa Impositiva:&nbsp;</span>
                                        <span style="font-size:8.0pt;font-family:Calibri;mso-ascii-font-family:Calibri;
                                                                                mso-fareast-font-family:+mn-ea;mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:
                                                                                minor-latin;mso-fareast-theme-font:minor-fareast;mso-bidi-theme-font:minor-bidi;
                                                                                color:#424242;mso-font-kerning:12.0pt;language:es-MX;mso-style-textfill-type:
                                                                                solid;mso-style-textfill-fill-color:#424242;mso-style-textfill-fill-alpha:100.0%">La
                                                                                tasa impositiva reportada en análisis del mercado desarrollado corresponde a la
                                                                                tasa impositiva estadounidense, mientras que para el análisis del mercado
                                                                                emergente y de la empresa se emplea el impuesto a la renta obtenida de la base
                                                                                de datos de Tasas Impositivas disponible en la página web de Damodaran,
                                                                                actualizado a diciembre del 2020.</span>
                                    </div>
                                    <div style="language:es-PE;margin-top:0pt;margin-bottom:7.5pt;margin-left:0in;
                                                                                text-align:justify;text-justify:inter-ideograph;direction:ltr;unicode-bidi:
                                                                                embed;mso-line-break-override:none;word-break:normal;punctuation-wrap:hanging">
                                        <span style="font-size:8.0pt">
                                            <span style="mso-special-format:bullet;font-family:
                                                                                    Arial">•</span>
                                        </span>
                                        <span style="font-size:8.0pt;font-family:Calibri;
                                                                                mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;mso-bidi-font-family:
                                                                                +mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;
                                                                                mso-bidi-theme-font:minor-bidi;color:#424242;mso-font-kerning:12.0pt;
                                                                                language:es-MX;font-weight:bold;mso-style-textfill-type:solid;mso-style-textfill-fill-color:
                                                                                #424242;mso-style-textfill-fill-alpha:100.0%">Riesgo País:&nbsp;</span>
                                        <span style="font-size:8.0pt;font-family:Calibri;mso-ascii-font-family:Calibri;
                                                                                mso-fareast-font-family:+mn-ea;mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:
                                                                                minor-latin;mso-fareast-theme-font:minor-fareast;mso-bidi-theme-font:minor-bidi;
                                                                                color:#424242;mso-font-kerning:12.0pt;language:es-MX;mso-style-textfill-type:
                                                                                solid;mso-style-textfill-fill-color:#424242;mso-style-textfill-fill-alpha:100.0%">La
                                                                                prima de Riesgo País reportada por la plataforma es el promedio de los últimos
                                                                                5 años del Spread de los bonos soberanos nacionales sobre los bonos de Estados
                                                                                Unidos (EMBI), data actualizada de forma mensual a partir de la información
                                                                                brindada por el Banco Central de Reserva del Perú (BCRP).</span>
                                    </div>
                                    <p>


                                        <span style="font-size:8.0pt;font-family:Calibri;mso-ascii-font-family:Calibri;
                                                                                mso-fareast-font-family:+mn-ea;mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:
                                                                                minor-latin;mso-fareast-theme-font:minor-fareast;mso-bidi-theme-font:minor-bidi;
                                                                                color:#424242;mso-font-kerning:12.0pt;language:es-MX;font-weight:bold;
                                                                                mso-style-textfill-type:solid;mso-style-textfill-fill-color:#424242;mso-style-textfill-fill-alpha:
                                                                                100.0%">Devaluación:&nbsp;</span>
                                        <span style="font-size:8.0pt;font-family:Calibri;
                                                                                mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;mso-bidi-font-family:
                                                                                +mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;
                                                                                mso-bidi-theme-font:minor-bidi;color:#424242;mso-font-kerning:12.0pt;
                                                                                language:es-MX;mso-style-textfill-type:solid;mso-style-textfill-fill-color:
                                                                                #424242;mso-style-textfill-fill-alpha:100.0%">La plataforma ofrece la
                                                                                devaluación correspondiente a Perú, la cual es obtenida a partir del
                                                                                diferencial establecido por: (1+i_(S/))=(1+i_$)×(1+dev) a partir de las curvas
                                                                                de rendimiento de bonos soberanos en dólares y soles, información obtenida de
                                                                                la Superintendencia de Banca y Seguros (SBS), de actualización diaria</span><br></p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <p style="margin-top: 0pt; margin-bottom: 7.5pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <span style="font-size:16.0pt;
                                                                                        font-family:Calibri;mso-ascii-font-family:Calibri;mso-fareast-font-family:+mn-ea;
                                                                                        mso-bidi-font-family:+mn-cs;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:
                                                                                        minor-fareast;mso-bidi-theme-font:minor-bidi;color:black;mso-color-index:1;
                                                                                        mso-font-kerning:12.0pt;language:es-MX;font-weight:bold;mso-style-textfill-type:
                                                                                        solid;mso-style-textfill-fill-themecolor:text1;mso-style-textfill-fill-color:
                                                                                        black;mso-style-textfill-fill-alpha:100.0%">Guía de Empresas por Industria</span>
                                    </p>

                                    <div class="table-responsive">

                                        <table class="table align-middle">
                                            <thead>
                                                <tr>
                                                    <th>Industria</th>
                                                    <th>Compañias</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="align-middle">Advertising</td>

                                                    <td class="align-middle">


                                                        Achison Inc. (OTCPK:ACHN)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Achison Inc. (OTCPK:ACHN)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Adamant DRI Processing and Minerals Group (OTCPK:ADMG)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Adaptive Medias, Inc. (OTCPK:ADTM)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Aerospace/Defense</td>

                                                    <td class="align-middle">


                                                        808 Renewable Energy Corporation (OTCPK:RNWR), AAR Corp. (NYSE:AIR), Aerojet Rocketdyne Holdings, Inc. (NYSE:AJRD)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            808 Renewable Energy Corporation (OTCPK:RNWR)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            AAR Corp. (NYSE:AIR)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Aerojet Rocketdyne Holdings, Inc. (NYSE:AJRD)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Air Transport</td>

                                                    <td class="align-middle">


                                                        Alaska Air Group, Inc. (NYSE:ALK)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Allegiant Travel Company (NasdaqGS:ALGT)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            American Airlines Group Inc. (NasdaqGS:AAL)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Apparel</td>

                                                    <td class="align-middle">


                                                        Banneker, Inc. (OTCPK:BANI)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Bergio International, Inc. (OTCPK:BRGO)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Carter's, Inc. (NYSE:CRI)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Auto &amp; Truck</td>

                                                    <td class="align-middle">


                                                        Arcimoto, Inc. (NasdaqGM:FUV)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Ayro, Inc. (NasdaqCM:AYRO)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Canoo Inc. (NasdaqGS:GOEV)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Auto Parts</td>

                                                    <td class="align-middle">


                                                        Alternative Fuel Technologies, Inc. (OTCPK:AFTC)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            American Axle &amp; Manufacturing Holdings, Inc. (NYSE:AXL)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            BorgWarner Inc. (NYSE:BWA)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Beverage (Alcoholic)</td>

                                                    <td class="align-middle">


                                                        Aristocrat Group Corp. (OTCPK:ASCC)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Brown-Forman Corporation (NYSE:BF.B)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Charlestowne Premium Beverages Inc. (OTCPK:FPWM)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Unión de Cervecerías Peruanas Backus y Johnston S.A.A. (BVL:BACKUSI1)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Beverage (Soft)</td>

                                                    <td class="align-middle">


                                                        Alkame Holdings, Inc. (OTCPK:ALKM)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Apple Rush Company, Inc. (OTCPK:APRU)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Celsius Holdings, Inc. (NasdaqCM:CELH)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Broadcasting</td>

                                                    <td class="align-middle">


                                                        AMC Networks Inc. (NasdaqGS:AMCX)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Audacy, Inc. (NYSE:AUD)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Beasley Broadcast Group, Inc. (NasdaqGM:BBGI)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Brokerage &amp; Investment Banking</td>

                                                    <td class="align-middle">


                                                        Armada Mercantile Ltd. (OTCPK:AAMT.F)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            B. Riley Financial, Inc. (NasdaqGM:RILY)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            BGC Partners, Inc. (NasdaqGS:BGCP)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Credicorp Capital Peru S.A.A. (BVL:CRECAPC1)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Building Materials</td>

                                                    <td class="align-middle">


                                                        A. O. Smith Corporation (NYSE:AOS)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            AAON, Inc. (NasdaqGS:AAON)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Advanced Drainage Systems, Inc. (NYSE:WMS)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Business &amp; Consumer Services</td>

                                                    <td class="align-middle">


                                                        Acacia Research Corporation (NasdaqGS:ACTG)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            ACV Auctions Inc. (NasdaqGS:ACVA)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            ADT Inc. (NYSE:ADT)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Cable TV</td>

                                                    <td class="align-middle">


                                                        Altice USA, Inc. (NYSE:ATUS)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Cable One, Inc. (NYSE:CABO)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Charter Communications, Inc. (NasdaqGS:CHTR)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Chemical (Basic)</td>

                                                    <td class="align-middle">


                                                        ADM Tronics Unlimited, Inc. (OTCPK:ADMT)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            AdvanSix Inc. (NYSE:ASIX)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Basanite Inc. (OTCPK:BASA)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Chemical (Diversified)</td>

                                                    <td class="align-middle">


                                                        Alexium International Group Limited (ASX:AJX)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Huntsman Corporation (NYSE:HUN)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            LSB Industries, Inc. (NYSE:LXU)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Chemical (Specialty)</td>

                                                    <td class="align-middle">


                                                        Advanced Emissions Solutions, Inc. (NasdaqGM:ADES)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            AgroFresh Solutions, Inc. (NasdaqGS:AGFS)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            AgTech Global International, Inc. (OTCPK:AGGL)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Coal &amp; Related Energy</td>

                                                    <td class="align-middle">


                                                        American Resources Corporation (NasdaqCM:AREC)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Arch Resources, Inc. (NYSE:ARCH)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Biomass Secure Power Inc. (OTCPK:BMSP.F)


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Computer Services</td>

                                                    <td class="align-middle">


                                                        ABCO Energy, Inc. (OTCPK:ABCE)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Accelerated Technologies Holding Corp. (OTCPK:ATHC)
                                                        
                                                                                                                        
                                                        
                                                                                                                            ,   
                                                                                                                            Adaptive Ad Systems, Inc. (OTCPK:AATV)


                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>

            </div>
            <!--end::Content-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Card-->
</div>
<!--end::Help drawer-->
<!--begin::Engage toolbar-->
<div class="engage-toolbar d-flex position-fixed px-5 fw-bold zindex-2 top-50 end-0 transform-90 mt-5 mt-lg-20 gap-2">
    <!--begin::Help drawer toggle-->
    <button id="kt_help_toggle" class="engage-help-toggle btn engage-btn shadow-sm px-5 rounded-top-0" title="Conceptos importantes y guía de empresas por industría" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-dismiss="click" data-bs-trigger="hover">
        Glosario
    </button>
    <!--end::Help drawer toggle-->
</div>
<!--end::Engage toolbar-->
